/* +++++++++++++++++Fonts+++++++++++ */
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




/* Universla selectors and classes*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    color: #eeeeee;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

ul li {
    list-style: none;
}

ul li a {
    color: #eeeeee;
    text-decoration: none;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}


.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
}


/* ++++++++++++CSS variables++++++++++++++ */
:root {
    --oddSectionBackgroundColor: #393E46;
    --evenSectionBackgroundColor: #222831;
    --navBarBackgroundColor: #222831;
    --linkHoverColor: #00ADB5;
}






/* =========================Section 01==================== */
#section-01 {
    background-color: var(--oddSectionBackgroundColor);
    padding: 20px 50px;
    min-height: 100dvh;
}

/* +++++++++++++++Child: 01+++++++++++++++ */
#s1-container1 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: right;
    gap: 2.4rem;
    position: sticky;
    background-color: var(--oddSectionBackgroundColor);
    top: 0;

}



#main-nav-bar ul {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;

}


/* Hamburger menu design */
#hamburger-menu {
    display: none;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #80DB66;
    margin: 6px 0;
}

/* hover effect */
#main-nav-bar ul li a:hover {
    color: var(--linkHoverColor);
    text-decoration: underline;
}


/* Download CV button styling */
.button-style-cv {
    padding: 10px;
    background-color: var(--oddSectionBackgroundColor);
    color: #fff;
    border-color: #80DB66;
    border-radius: 10px;
}

.button-style-cv:hover {
    background-color: #80DB66;
    border-color: #fff;
    color: #000;
}

#main-logo {
    margin-right: auto;
}

.nav-fav-icon {
    display: none;
}

/* Side nav bar (add this class dynamically) */
.side-nav-bar {
    display: flex !important;
    flex-direction: column !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    min-height: 100%;
    background-color: #80DB66;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 40px;
    z-index: 999;

}

.cross {
    display: inline-block !important;
    position: absolute;
    top: 11px;
    right: 10px;
    height: inherit;
    color: var(--oddSectionBackgroundColor);
}




/* +++++++++++++++Child: 02+++++++++++++++ */

#s1-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    padding-top: 100px;
    gap: 10px;
}


/* First image of developer */
#er-zakir-rashid-img1 {
    width: 80%;
    height: 100%;
    border-radius: 50%;
}


.s1-container1-item {
    align-content: center;
}

#img-social-media-icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#social-media-icons {
    display: flex;
    flex-flow: column wrap;
    gap: 40px;
    justify-content: center;
    align-items: start;
}

#social-media-icons a {
    color: #fff;
}

.button-style-say-hello {
    background-color: #80DB66;
    padding: 12px 25px;
    border-radius: 10px;
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
}

.button-style-say-hello:hover {
    background-color: #80DB66;
    border-color: #fff;
    color: #000;
}

#short-desc p:first-child {
    color: #80DB66;
    letter-spacing: 5px;
}

#short-desc p:nth-of-type(2) {
    padding-bottom: 12px;
}

#type-writter {
    color: #80DB66;
}




/* ******Media Query******  */
/* First break point */
@media (max-width: 900px) {
    #main-nav-bar ul {
        display: none;
    }

    #hamburger-menu {
        display: inline-block;
    }
}

/* Second break point */
@media (max-width: 500px) {
    #section-01 {
        padding: 12px 10px;
    }

    #s1-container1 {
        gap: 1.5rem;
    }
}

/* Third break point */
@media (max-width: 800px) {
    #short-desc {
        grid-column: span 2;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

    }

    #img-social-media-icons {
        grid-column: span 2;
        margin-top: 90px;
    }
}

@media (max-width: 430px) {
    #short-desc>h1 {
        text-align: center;
    }
}







/* =========================Section 02==================== */
#section-02 {
    background-color: var(--evenSectionBackgroundColor);
    padding: 100px 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.section-02-items {
    flex-basis: 20%;
}

.section-02-items p {
    word-break: break-all;
    line-height: 25px;

}

.section-02-items h2 {
    margin-top: 40px;
    font-size: 1.7rem;
}

.section-02-items i {
    font-size: 4rem;
    color: #80DB66;
}



/* ******Media Query******  */
/* First break point */
@media (max-width: 1000px) {
    #section-02 {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        row-gap: 100px;
        column-gap: 50px;
    }
}

/* Second break point */
@media (max-width: 800px) {
    #section-02 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 100px;
    }

    .section-02-items {
        width: 60%;
    }

    .section-02-items>i,
    .section-02-items>h2 {
        display: flex;
        flex-direction: row wrap;
        justify-content: center;
    }

    .section-02-items>h2 {
        margin-bottom: 10px;
    }

}

/* Third break point */
@media(max-width: 550px) {
    .section-02-items {
        width: 100%;
    }
}



/* =========================Section 03==================== */
#section-03 {
    background-color: var(--oddSectionBackgroundColor);
    padding: 100px 50px;
    display: grid;
    grid-template: 1fr / 0.7fr 1fr;
    gap: 30px;

}

#section-03 img {
    position: relative;
    width: 380px;
    height: 500px;
    border-radius: 10px;
    z-index: 0;
}

#my-second-img {
    justify-self: center;
}

#about-me p:first-child {
    color: #80DB66;
    letter-spacing: 7px;
}

#about-me h2 {
    font-size: 2.5rem;
    padding: 15px 0px;

}

#about-me p:nth-of-type(2) {
    line-height: 1.5;
    text-align: justify;
    word-break: break-all;
    padding-bottom: 40px;
}

#credentials {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    gap: 12px;
}

.cred-key {
    font-weight: bold;
    font-size: 1rem;
}

/* Image animation */
#slide-image {
    transform: translateX(-100%);
    transition: all 3s ease;
}

.visible {
    transform: translateX(0%) !important;
}





/* ******Media Query******  */
@media (max-width: 1350px) {
    #my-second-img {
        grid-column: span 2;
    }

    #my-second-img img {
        width: 100%;
    }

    #about-me {
        grid-column: span 2;
    }
}

@media (max-width: 850px) {
    #credentials {
        grid-template: repeat(6, 1fr) / repeat(2, 1fr);
    }

    #about-me p,
    #about-me h2 {
        text-align: center;
    }
}


/* =========================Section 04==================== */
#section-04 {
    background-color: var(--evenSectionBackgroundColor);
    padding: 100px 50px;
}

#portfolio-headings {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#section-04 #content {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 200px 1fr 1fr 100px;
    gap: 40px;

}

#content>* {
    align-self: center;
}

#content img {
    width: 150px;
    height: 100px;
    border-radius: 10px;
    margin: 0 auto;
    transition: all 1s ease-in-out;
}

#content button {
    width: 70px;
    height: 70px;
    border-radius: 50%;

}

#portfolio-headings p {
    color: #80DB66;
    letter-spacing: 7px;
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: 15px;

}

#portfolio-headings h2 {
    font-size: 2rem;
    padding-bottom: 20px;

}

#content p {
    font-weight: bold;
    font-size: 1.1rem;
    opacity: 0.5;
}

#content h3 {
    font-size: 2rem;
}

#content img:hover {
    transform: rotate(30deg);

}


/* Content for samll screen */
#content-small-screen {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 2fr 100px;
    gap: 40px;
}

#content-small-screen>* {
    align-self: center;
}

#content-small-screen img {
    width: 150px;
    height: 100px;
    border-radius: 10px;
    margin: 0 auto;
    transition: all 1s ease-in-out;
}


#content-small-screen button {
    width: 70px;
    height: 70px;
    border-radius: 50%;

}

#content-small-screen p {
    font-weight: bold;
    font-size: 1.1rem;
    opacity: 0.5;
}

#content-small-screen h3 {
    font-size: 2rem;
}

#content-small-screen img:hover {
    transform: rotate(30deg);

}

#content-small-screen .para-heading-image {
    display: flex;
    flex-flow: row wrap;
}

#content-small-screen .para-and-heading>p {
    padding-bottom: 20px;
}

/* ******Media Query******  */
@media (min-width: 1200px) {
    #content-small-screen {
        display: none;
    }

}

@media (max-width: 1200px) {
    #section-04 #content {
        display: none !important;
    }

}





@media (max-width: 870px) {
    #content-small-screen button {
        display: none;

    }

    .para-heading-image {
        grid-column: span 2;
    }

}

@media (max-width: 600px) {
    #content-small-screen .para-heading-image {
        flex-direction: column;
        justify-content: start;
    }

    #content-small-screen img {
        margin: 20px auto;

    }

    #content-small-screen {
        text-align: center;
    }

    #portfolio-headings h2 {
        text-align: center !important;
    }

}




/* =========================Section 05==================== */
#section-05 {
    background-color: var(--oddSectionBackgroundColor);
    padding: 100px 50px;
}

#fun-facts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

#description {
    width: 40%;
}

#description p:first-child {
    color: #80DB66;
    letter-spacing: 7px;
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: 15px;

}

#description p:last-child {
    text-align: justify;
    line-height: 1.7;
    word-break: break-all;
    padding-top: 20px;
}

#description hr {
    display: none;
}

#description h2 {
    font-size: 3rem;
}

#fun-fact-numbers {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.fun-fact-items {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 50px;
    background-color: var(--evenSectionBackgroundColor);
    border-radius: 10px;
    font-weight: bold;
}

.number {
    font-size: 3.5rem;
    color: #80DB66;
    padding-right: 10px;
}



/* Media query */
@media (max-width: 1200px) {

    #description {
        width: 100%;
        text-align: center;
    }

    #fun-facts {
        text-align: center;
    }

    #fun-fact-numbers {
        width: 100%;
        padding-top: 60px;
    }

    .fun-fact-items {
        width: 220px;
        height: 200px;
        justify-content: center;
        place-self: center;
    }

    #description hr {
        display: block;
    }

    #description p:last-child {
        width: 80%;
        margin: auto auto;
        opacity: 0.7;

    }

}

@media (max-width: 600px) {
    #fun-fact-numbers {
        display: flex;
        flex-direction: column;
    }

    .fun-fact-items {
        width: 90%;
    }


}




/* =========================Section 06==================== */
#section-06 {
    background-color: var(--evenSectionBackgroundColor);
    padding: 100px 50px;
}

#my-skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#skills-desc {
    width: 40%;
    display: flex;
    flex-flow: column wrap;
}

#skills {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}


.outer-circle {
    width: 160px;
    height: 160px;
    position: relative;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    background: conic-gradient(#4d5bf9 0deg, #cadcff 0deg);
}

.inner-circle {
    width: 127px;
    height: 127px;
    background-color: #222831;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.inner-circle span {
    font-size: 1.3rem;
    font-weight: bold;
}

.skill p {
    padding-top: 20px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

#skills-desc p:first-child {
    color: #80DB66;
    letter-spacing: 7px;
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: 15px;

}

#skills-desc h2 {
    font-size: 3rem;
}

#skills-desc p:last-child {
    text-align: justify;
    line-height: 1.7;
    word-break: break-all;
    padding-top: 20px;
    opacity: 0.7;

}

#skills-hr {
    display: none;
}

.key-words {
    color: rgb(223, 21, 21);
}

/* Media query */
@media (max-width: 1200px) {
    #section-06 {
        padding: 100px 50px;
    }

    #my-skills {
        flex-direction: column;
    }

    #skills-desc {
        width: 100%;
        align-items: center;
        padding-bottom: 50px;

    }


    #skills-desc p:last-child {
        width: 80%;
    }

    .skill {
        place-self: center;
    }

    #skills-hr {
        display: inline-block;
        border: 1px solid green;
        width: 50%;
        margin-bottom: 20px;
    }

}

@media (max-width: 690px) {
    #skills {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    #skills-desc {
        text-align: center;
    }

    #skills-hr {
        width: 80%;
    }


}

@media (max-width: 500px) {
    #skills {
        display: flex;
        flex-flow: column;
        gap: 80px;
    }


}


/* =========================Section 07==================== */
#section-07 {
    background-color: var(--oddSectionBackgroundColor);
    padding: 100px 50px;
}

#service-desc {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-bottom: 60px;
}

#services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.my-services {
    width: 80%;
    padding: 50px;
    background-color: var(--evenSectionBackgroundColor);
    place-self: center;
    border-radius: 10px;
}

#service-desc p {
    color: #80DB66;
    letter-spacing: 7px;
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: 15px;
}

#service-desc h2 {
    font-size: 3rem;
}

.my-services h3 {
    font-size: 1.5rem;
    padding-bottom: 10px;
    text-align: center;
}

.my-services p {
    text-align: justify;
    word-break: break-all;
    line-height: 1.7;
    opacity: 0.8;
}


/* Media query */

@media (max-width: 1100px) {
    .my-services {
        width: 100%;
    }


}

@media (max-width: 860px) {
    #services {
        display: flex;
        flex-flow: column wrap;
        gap: 40px;
    }

    .my-services {
        width: 80%;
    }

}

@media (max-width: 550px) {
    .my-services {
        width: 100%;
        padding: 30px;
    }

}

/* =========================Section 08==================== */
#section-08 {
    background-color: var(--evenSectionBackgroundColor);
    padding: 100px 50px;
}

#pricing-plan-heading {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-bottom: 40px;
}

#pricing-plan-heading p {
    color: #80DB66;
    letter-spacing: 7px;
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 15px;
}

#pricing-plan-heading h2 {
    font-size: 3rem;
    padding-bottom: 30px;
}

#plans {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 40px;
}

.plan {
    padding: 50px;
    background-color: var(--oddSectionBackgroundColor);
    border-radius: 10px;
    width: 30%;
}

.plan ul li {
    line-height: 2.5;
    font-size: 1rem;
}

.plan h3 {
    font-size: 2rem;
}


.plan-hr-line {
    margin: 20px 0px;
    border-color: #80DB66;
}

.price {
    font-size: 2.5rem;
    padding-right: 5px;
    color: #80DB66;
}

.plan p {
    padding-bottom: 10px;
}


/* Media query */
@media (max-width: 1100px) {
    .plan {
        width: 40%;
    }


}

@media (max-width: 900px) {
    .plan {
        width: 60%;
    }
}

@media (max-width: 600px) {
    .plan {
        width: 100%;
        padding: 30px;
    }

    #pricing-plan-heading {
        text-align: center;
    }

    .plan h3 {
        text-align: center;
    }

}



/* =========================Section 09==================== */
#section-09 {
    background-color: var(--oddSectionBackgroundColor);
    padding: 100px 50px;
}

#contact-me-heading {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-bottom: 40px;
}

#contact-desc {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top: 30px;
}

#cnt-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 30px;
}

#cnt-form input:hover {
    background-color: #fff;
}

#form-submit {
    grid-column: span 2;
}

#cnt-form input,
#message {
    padding: 15px 25px;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 8px;
    border: 3px solid #000;

}

#message {
    grid-column: span 2;
    grid-row: span 2;
    resize: none;
    text-align: justify;
    word-break: break-all;
    line-height: 1.3;

}

#contact-me-heading p {
    color: #80DB66;
    letter-spacing: 7px;
    font-size: 1.1rem;
    font-weight: bold;
    padding-bottom: 15px;
}

#contact-me-heading h2 {
    font-size: 3rem;
}

#side-details {
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
}

.sd {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    align-items: center;
}

.cnt-desc h3 {
    font-size: 1.5rem;
    padding-bottom: 5px;
}

.cnt-icon {
    width: 30px;
}

#cnt-touch {
    display: none;
    font-size: 1.5rem;
    color: #80DB66;
}

#cnt-hr-line {
    display: none;
}

@media (max-width: 1000px) {
    #contact-desc {
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }

    #contact-me-heading h2 {
        text-align: center;
        font-size: 2rem;
    }

}

@media (max-width: 560px) {
    #cnt-form {
        display: flex;
        flex-direction: column;
    }

    #cnt-touch {
        display: block;
        padding-top: 40px;
        font-style: italic;
        letter-spacing: 5px;
    }

    #contact-desc {
        gap: 15px;
    }

    #cnt-hr-line {
        display: block;
    }

}